<div class="fixed inset-0  justify-center flex items-center">
    <div class="border bg-[#363636] p-2 mb-3 w-[400px]  rounded-md text-gray-300 flex flex-col gap-5">
        <header class="flex justify-center">
            <h2 class="text-xl">Deseja Apagar esse Orçamento ?</h2>
        </header>
        <div class="flex gap-2 justify-center">
            <button class="py-2 px-3 bg-red-900 hover:bg-red-700 rounded-sm"
                (click)="modalConfirmacao()">Apagar</button>
            <button class="py-2 px-3 bg-slate-700 hover:bg-slate-500 rounded-sm" (click)="fecharModal()">Fechar</button>

        </div>
    </div>
</div>